<h3>Create Entry</h3>
<a href="/">Back</a>

<form action="/" method="post">
	<label>Title</label>
	<input type="text" name="title">
	<br>
	<label>Subject</label>
	<input type="text" name="subject">
	<br>
	<label>Content</label>
	<input type="text" name="content">
	<br>
	<input type="submit" value="Create Entry">
</form>

